:root {
  --successColor: #2ca342;
  --errorColor: #d60a2e;
  --informationColor: #1271ec;
  --warningColor: #fcc631;
}

.dlrms-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dlrms-row {
  display: flex;
  justify-content: space-between;
}

.dlrms-col {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dlrms-col.top-left,
.dlrms-col.bottom-left {
  align-items: flex-start;
}

.dlrms-col.top-right,
.dlrms-col.bottom-right {
  align-items: flex-end;
}
/* CSS Code for Custom Style */
.dlrms-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 39px;
  border-radius: 4px;
  transition: 0.4s all ease-in-out;
  position: relative;
  background: #fff;
  color: black;
}

svg {
  position: absolute;
  left: 10px;
  width: 19px;
  height: 19px;
}

.dlrms-card.success {
  border-left: 3px solid var(--successColor);
  fill: var(--successColor);
}

.dlrms-card.warn {
  border-left: 3px solid var(--warningColor);
  fill: var(--warningColor);
}

.dlrms-card.info {
  border-left: 3px solid var(--informationColor);
  fill: var(--informationColor);
}

.dlrms-card.error {
  border-left: 3px solid var(--errorColor);
  fill: var(--errorColor);
}

.dlrms-card h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.dlrms-card p {
  margin: 0;
  font-size: 14px;
}
