* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --successColor: #2ca342;
  --errorColor: #d60a2e;
  --informationColor: #1271ec;
  --warningColor: rgba(236, 178, 3, 1);
}

.dlrms-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dlrms-row {
  display: flex;
  justify-content: space-between;
}

.dlrms-col {
  flex: 1;
  margin: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dlrms-col.top-left,
.dlrms-col.bottom-left {
  align-items: flex-start;
}

.dlrms-col.top-right,
.dlrms-col.bottom-right {
  align-items: flex-end;
}

.dlrms-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  text-align: justify;
  padding: 12px 12px 12px 39px;
  border-radius: 3px;
  transition: margin 0.3s, opacity 0.3s;
  background: #fff;
}

.dlrms-card .message {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.1rem;
  height: 1.1rem;
}

/* Original Style */

.dlrms-card.success {
  box-shadow: 0 0 2px var(--successColor);
  background: var(--successColor);
  fill: #fff;
  color: #fff;
}

.dlrms-card.warn {
  box-shadow: 0 0 2px var(--warningColor);
  background: var(--warningColor);
  fill: #fff;
  color: #fff;
}

.dlrms-card.info {
  box-shadow: 0 0 2px var(--informationColor);
  background: var(--informationColor);
  fill: #fff;
  color: #fff;
}

.dlrms-card.error {
  box-shadow: 0 0 2px var(--errorColor);
  background: var(--errorColor);
  fill: #fff;
  color: #fff;
}

/* Custom Style */

/* .dlrms-card.success {
  border-left: 3px solid var(--successColor);
  fill: var(--successColor);
  color: #000;
}

.dlrms-card.warn {
  border-left: 3px solid var(--warningColor);
  fill: var(--warningColor);
  color: #000;
}

.dlrms-card.info {
  border-left: 3px solid var(--informationColor);
  fill: var(--informationColor);
  color: #000;
}

.dlrms-card.error {
  border-left: 3px solid var(--errorColor);
  fill: var(--errorColor);
  color: #000;
} */
